*.txt
*.log
*.zip
tmp/
cdwdatagetter
test/*.*
event/
*.cod
*.cod.bz2
*.bak
cdw-data-reports/
cdw-viewership-reports/
test-array.sh
build/
loop.sh
aws-s3-uploader
viewership/build-viewership/
viewership/loop-viewership.sh
build-ec2/
